@tailwind base;
@tailwind components;
@tailwind utilities;

.font-link {
  font-family: "KoHo", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.App {
  background-color: #f9f9f9;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

img {
  height: 100%;
}


#cont{
}